@font-face {
  font-family: "Ahaleel";
  font-style: normal;
  font-weight: 400;
  src: local("Ahaleel"), url("Ahaleel.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Ahaleel";
  font-style: normal;
  font-weight: 700;
  src: local("Ahaleel"), url("Ahaleel.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Ahaleel", cursive, sans-serif;
  /* text-align: center; */
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}
