@font-face {
  font-family: "ahaleel";
  font-style: normal;
  font-weight: 400;
  src: local("ahaleel"), url("ahaleel.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ahaleel";
  font-style: normal;
  font-weight: 700;
  src: local("ahaleel"), url("ahaleel.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "ahaleel", cursive, sans-serif;

}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}
